extends layout.pug

block content
    h1.roqeeb Testing this page here #{another}
    each val in datas
        li= val
        
    //- h1(style={'background-color': 'red', 'line-height': '2em', 'color': 'green'}) Testing this page here #{another}