doctype html
html(lang="en")
    head
        title Document
        style. 
            .d-flex{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex
            }
            .left{
                border: 1px solid green;
            }
            .right{
                border: 1px solid blue;
            }
    body
        .d-flex
            .left
                .d-flex
                    .one One is here
                    .two Two is here
            .right another thing is here is here